# Node
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*
*.env

# OS files
.DS_Store
Thumbs.db

# Editor metadata
.vscode/
.idea/

# Cache
.cache/
.parcel-cache/
