 #map
{
    flex-grow: 1;
    height:100vh;
}

body{
    margin: 0;
    display: flex;
    flex-direction: row;
 }

.contents{
    height: 100vh;
    width:40%;
    box-sizing: border-box;
    padding:0.25rem;
    /* background-color: aquamarine; */
}

#loadLocation{
    width:90%;
    height:30px;
    font-weight: 700;
    color:rgb(255, 255, 255);
    background-color: rgba(25, 190, 0, 0.792);
    border: none;
    margin:1rem;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
}

#loadLocation:hover{
    background-color: rgb(62, 196, 0);
}

