#map {
  flex-grow: 1;
  height: 100vh;
  transition: transform 0.2s linear;
  transform-origin: center center;
}

body {
  font-family: "Inter";
  margin: 0;
  display: flex;
  flex-direction: row;
}

.navbar{
  display: flex;
  gap:0.5rem;
}

.navbar h1{
  margin:0;
}

.navbar img{
  width:52.5px;
  height:35px;
}

.contents {
  height: 100vh;
  width: 40%;
  box-sizing: border-box;
  padding: 0.5rem;
}

label {
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
}

#loadLocation {
  width: 90%;
  height: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgba(25, 190, 0, 0.792);
  border: none;
  margin: 1rem;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  font-variant: normal;
}

#loadLocation:hover {
  background-color: rgb(62, 196, 0);
}

button {
  padding: 5px;
  margin-top: 1rem;
  border-radius: 50px;
  font-variant: small-caps;
}

#cancel {
  display: none;
}

.nav-buttons {
  display: none;
  width: 100%;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

#drive,
#stop {
  width: 100%;
}

.navigation-section {
  display: flex;
  flex-direction: column;
}

.navigation-section p {
  text-align: center;
  opacity: 0.5;
  font-size: x-small;
}

input {
  padding: 5px;
  font-size: 0.9rem;
}

.search_wrapper{
  width:100%;
  display: flex;
  flex-direction: column;
  position:relative;
}

.suggestions{
  margin:0;
  position: absolute;
  top:100%;
  right: 0;
  width:100%;
  height:100px;
  background-color: aquamarine;
  /* list-style: none; */
  z-index: 1000;
  box-sizing: border-box;
  overflow-y: auto;
  display: none;
}

#sourceDisplay {
  display: none;
  width: 100%;
  height: fit-content;
  border: 2px solid rgb(173, 173, 173);
  padding: 5px;
  border-radius: 5px;
  box-sizing: border-box;
}

.primaryaddress {
  font-weight: 500;
  font-size: 0.9rem;
}

.secondaryaddress {
  color: rgba(0, 0, 0, 0.385);
  font-size: 0.75rem;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

/* #LocationDisableAlert{

} */

@media (orientation: portrait) {
  body {
    height: 90vh;
    flex-direction: column;
  }

  .contents {
    width: 100%;
    height: fit-content;
  }
}
