 #map
{
    flex-grow: 1;
    height:100vh;
}
 body{
    margin: 0;
    display: flex;
    flex-direction: row;
 }

.contents{
    height: 100vh;
    width:40%;
    box-sizing: border-box;
    padding:0.25rem;
    /* background-color: aquamarine; */
}

#loadLocation{
    width:90%;
    height:30px;
    font-weight: 700;
    color:white;
    background-color: rgb(41, 133, 255);
    border: none;
    margin:1rem;
    box-sizing: border-box;
    border-radius: 5px;
}

#loadLocation:hover{
    background-color: rgb(15, 119, 255);
}